<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rodri.vocabbuilder">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity" android:theme="@style/AppTheme2" />
        <activity android:name=".activity.MainActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.SignUpActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.NewWordActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.FlashCardActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.FlashCardResultActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.GameHistoryActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.NeedToReviewActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.WordsToReviewActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.AccountActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".activity.AboutActivity" android:theme="@style/AppTheme2"/>

        <service android:name=".service.ReviewWordsService" />

        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>